
body{
	margin: 0;
	padding: 0;
	width: 100%;
}

h1 { 
    font-family:"Arvo";
	font-weight:normal;
	font-size: 55px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
   font-family:"Arvo";
   font-weight: normal;
   font-size: 40px;
   text-align: center;
   color: #fff;
   margin: 0;
	padding: 0;
}

h3 {
   font-family: Oswald;
   font-weight: normal;
   font-size: 16px;
   text-align: center;
   margin: 5px 0;
	padding: 0;
	z-index: 1;
	position: relative;
}



.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }
a.lpanel { float: left; color: #e1e1e1; font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }
a.rpanel { float: right; color: #e1e1e1;  font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }

a.lpanel:hover{ color: #fff; }
a.rpanel:hover{ color: #fff; }
/*= HEADER & NAVIGATION
--------------------------------------------------------*/

#header { 
	width: 100%; 
	background: url('../img/header-bg.png'); 
	height: 80px; 	
	position: fixed;
	margin-top: 30px;
}

#nav { width: 410px; float: right; margin-top: 20px; }
#logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #fff; font-family:"Wellfleet"; font-weight: bold; }
#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;	
}

#nav li{
	margin-top: 9px;	
	float: left;
	padding-left: 21px;
}

#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Wellfleet'; }
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1;  }



/*= QUOTES AND SOME ELEMENTS
--------------------------------------------------------*/
.quotes {   
 font-family: 'Goudy Bookletter 1911', serif;
   font-weight: normal;
   font-size: 30px;
  text-align: left;
  margin: 50px auto;
}
   
 .sub_white { font-family:"Wellfleet";  margin: 70px 0 0 75px; color: #fff; font-size: 20px; }  
 .sub_gray{ font-family:"Wellfleet";  margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; }  
 .container { width: 800px; margin: 0 auto; }
#christmas_tree { background: url('../img/christmas-tree.png')no-repeat; width: 48px; height: 77px; margin: 0 auto; position: relative; bottom: -35px;}
#divider { background: url('../img/divider.png')no-repeat; width: 300px; height: 35px; margin: 0px auto 27px auto; }
#ribbon { background: url('../img/ribbon.png')no-repeat; width: 251px; height: 48px; margin: 0 auto;  display: block; position: relative; top: -38px; }
#snowflakes1 { background: url('../img/snowflakes.png')no-repeat; width: 24px; height: 21px; margin: 0 auto;  display: block; position: relative; bottom: -54px; left: -102px; }
#snowflakes2 { background: url('../img/snowflakes.png')no-repeat; width: 24px; height: 21px; margin: 0 auto;  display: block; position: relative; bottom: -33px;  right: -100px; }



/*= BUTTONS
--------------------------------------------------------*/

button.btn-know { 
	padding: 15px 47px; 
	margin: 40px 38.8%;
	text-align: center;
	border: 4px solid #fff; 
	color: #fff; 
	background: transparent; 
	font-size: 19px;
	cursor: pointer;
	text-shadow: -1px 2px 0px rgba(90, 90, 90, 0.56);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.btn-know:hover { background: #fff; color: transparent; }
ul.built { list-style: none; margin: 0 auto; width: 730px; }
.built li img{ float: left; padding-right: 34px; }

.graph{
	float:left;
	padding: 5%;
}
.navi-option{
	margin-top:300px;
	margin-left:97%;
}

/*= SLIDES STYLING
--------------------------------------------------------*/

#slide1, #slide2{ width: 100%; }
#slide1{
	background-color: rgba(51,178,147,0.7);
	/*background:url('../img/slide1.jpg') 50% 0 no-repeat fixed;*/
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 150px 0 260px 0;
	background-size: cover;
}

#slide2{
	background-color: #fff;
	color: #333333;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
}

#slide3{
	background-color: rgba(51,178,147,0.7);
	/*background: url(../img/slide3.jpg) 50% 0 no-repeat fixed;*/
	color: #fff;
	height: 600px;
	padding: 170px 0 0 0;	
	background-size: cover;
}

#slide4{
	background-color: #fff;
	color: #333333;
	height: 15px;
	padding: 50px 0;
}

#slide5{
	background-color: rgba(178,165,84,0.7);
	/*background: url(../img/slide5.jpg) 50% 0 no-repeat fixed;*/
	height: 500px;
	margin: 0 auto;
	padding: 100px 0;
	color: #fff;
	background-size: cover;
}


/*PROFILE WIDGET*/
.profile_widget{
	float: left;
	width: 25%;
	padding: 3%;
	margin: 9%;
	border-radius: 4px;
	overflow: hidden;
	text-align: center;
	background-size: cover;
	background-position: center;
	background-color: rgba(32,32,32,0.6);
	box-shadow: 0 50px 70px 0px rgba(0,0,0,0.7);
	
	
}
.pw_avatar{
	width: 150px;
	height: 150px;
	overflow: hidden;
	margin: 0 auto 35px auto;
	
}
.pw_avatar img{
	display: block;
	max-width: 100%;
	height: auto;
}
.pw_info{
	margin: 0 0 100px 0;
}
.pw_info h1{
	margin: 0 0 8px 0;
	font-size: 24px;
}
.pw_info h2{
	margin: 0 0 5px 0;
	font-size: 19px;
	color: #678ec4;
}

.pw_info p{
	margin: 0;
	font-size: 14px;
}

.img-circle {
    border-radius: 50%;
	
}
/*Graph*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}